@import 'sass-bootstrap/lib/bootstrap';

table { 
  table-layout: fixed;
  margin: 30px 0 0 0;
}

table th, table td { 
  overflow: hidden; 
}


#report {
  display: none;
}
.report-count {
  width: 3%;
}

.report-date {
  width: 12%;
}

.report-user {
  width: 20%;
}

.report-location {
  width: 20%;
}


#map_canvas {
  //display: none;
}

#tweet-well {
  display: none;
}

.result-info {
  height: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 40px auto 0 auto;
  @include border-radius(5px);  
}

.height-55 {
  height: 55px;
}

.map {
  height: 380px;
  width: 500px;
  min-width: 100%;
  margin: 0 0 0 -50px;
}

.container {
	position: relative;
	margin: 3%;
}

.avatar {
  float: left;
  margin: 0 10px 0 0;
}
.username {
  float: left;
  width: 100px;
}
.date {
  float: left;
  width: 300px;
}
.tweet {
  float: left;
  clear: both;
  margin: 5px 0 0 0;
}